input, textarea {
	padding: 16px 16px;
	background-color: $black;
	border: $gray 1px solid;
	border-radius: 0.3rem;
	font-size: 1.4rem;
	caret-color: $lightGray;
	color: $silver;
	transition: background-color 0.2s;
	resize: none;

	&:focus {
		background-color: $dark;
		outline: none;
		border-color: $ruby;
	}
}

button {
	&.btn {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1;
		padding: 0.8rem 1rem 1rem 1rem;
	}

	&.btn-ruby {
		background-color: $red;
		border-color: $red;
		outline-color: $ruby;
		color: $white;
		
		&:hover, &:active {
			background-color: darken($red, 7%);
			border-color: darken($red, 7%);
			color: $white;
		}

		&:focus, &.focus {
			box-shadow: 0 0 0 3px $ruby;
		}
	}

	&[type="submit"].wait {
		opacity: 1;
		color: $silver;
		background-image: url("/assets/i/preloader-background-orange.gif");
	}
}