$black: #2D3136;
$dark: #2F3338;
$darkGray: #37414E;
$gray: #4C4F53;
$lightGray: #7E7E7E;
$silver: #D7D7D7;
$lightSilver: #f7f7f7;
$white: #FFFFFF;

$commentTitle: #4B596C;
$commentEmail: #6D737B;
$commentBody: #767582;

$red: #BE393B;
$ruby: #743538;
$aqua: #E9EEF3;

$lightGreen: #DEEBDE;
$green: #58AD52;
$darkGreen: #768275;
