.circonf {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #BE393B;
  animation: circ-anim 0.9s linear infinite;
  border-color: #BE393B;
  border-bottom-color: transparent; }
  .circonf.micro {
    width: 24px;
    height: 24px;
    animation-duration: 0.7s;
    border-width: 1.5px; }
  .circonf.small {
    width: 32px;
    height: 32px;
    animation-duration: 0.8s;
    border-width: 2px; }
  .circonf.large {
    width: 64px;
    height: 64px;
    animation-duration: 1s;
    border-width: 4px; }

@keyframes circ-anim {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
body {
  background-color: #f7f7f7;
  color: #37414E;
  font-size: 1.4rem; }
  body .dark {
    background-color: #2D3136;
    color: #D7D7D7;
    border-bottom: #2D3136 1px solid; }

label {
  font-size: 1.6rem;
  font-weight: 500; }

.asterisk {
  color: #BE393B; }

input, textarea {
  padding: 16px 16px;
  background-color: #2D3136;
  border: #4C4F53 1px solid;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  caret-color: #7E7E7E;
  color: #D7D7D7;
  transition: background-color 0.2s;
  resize: none; }
  input:focus, textarea:focus {
    background-color: #2F3338;
    outline: none;
    border-color: #743538; }

button.btn {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.8rem 1rem 1rem 1rem; }
button.btn-ruby {
  background-color: #BE393B;
  border-color: #BE393B;
  outline-color: #743538;
  color: #FFFFFF; }
  button.btn-ruby:hover, button.btn-ruby:active {
    background-color: #a33132;
    border-color: #a33132;
    color: #FFFFFF; }
  button.btn-ruby:focus, button.btn-ruby.focus {
    box-shadow: 0 0 0 3px #743538; }
button[type="submit"].wait {
  opacity: 1;
  color: #D7D7D7;
  background-image: url("/assets/i/preloader-background-orange.gif"); }

.logo {
  padding-top: 40px;
  padding-bottom: 40px; }

.envelope {
  padding: 40px 0;
  text-align: center; }

.commentForm input, .commentForm textarea {
  width: 100%; }
.commentForm .reqs input {
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .commentForm .reqs input:last-child {
      margin-bottom: 0; } }
.commentForm .comment {
  display: flex;
  flex-direction: column; }
  .commentForm .comment label {
    flex-grow: 0; }
  .commentForm .comment textarea {
    flex-grow: 4;
    min-height: 10rem; }
    .commentForm .comment textarea::-webkit-scrollbar {
      height: 8px;
      width: 8px;
      background: #743538;
      overflow: visible; }
    .commentForm .comment textarea:hover::-webkit-scrollbar {
      display: block; }
    .commentForm .comment textarea::-webkit-scrollbar-corner {
      display: none; }
    .commentForm .comment textarea::-webkit-scrollbar-button {
      display: none;
      height: 0;
      width: 0; }
    .commentForm .comment textarea::-webkit-scrollbar-button:start:decrement, .commentForm .comment textarea ::-webkit-scrollbar-button:end:increment {
      display: block; }
    .commentForm .comment textarea::-webkit-scrollbar-button:vertical:start:increment, .commentForm .comment textarea ::-webkit-scrollbar-button:vertical:end:decrement {
      display: none; }
    .commentForm .comment textarea::-webkit-scrollbar-track {
      -moz-background-clip: border;
      -webkit-background-clip: border;
      background-clip: padding-box;
      background-color: #743538; }
    .commentForm .comment textarea::-webkit-scrollbar-track:vertical, .commentForm .comment textarea ::-webkit-scrollbar-track:horizontal {
      border-left-width: 0;
      border-right-width: 0; }
    .commentForm .comment textarea::-webkit-scrollbar-track:vertical, .commentForm .comment textarea ::-webkit-scrollbar-track:horizontal, .commentForm .comment textarea ::-webkit-scrollbar-thumb:vertical, .commentForm .comment textarea ::-webkit-scrollbar-thumb:horizontal, .commentForm .comment textarea ::-webkit-scrollbar-track:vertical, .commentForm .comment textarea ::-webkit-scrollbar-track:horizontal, .commentForm .comment textarea ::-webkit-scrollbar-thumb:vertical, .commentForm .comment textarea ::-webkit-scrollbar-thumb:horizontal {
      border-style: solid;
      border-color: transparent; }
    .commentForm .comment textarea::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
      background-clip: padding-box;
      background-color: #BE393B;
      min-height: 28px; }
    .commentForm .comment textarea::-webkit-scrollbar-thumb:hover {
      -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
      background-color: rgba(0, 0, 0, 0.2); }
    .commentForm .comment textarea::-webkit-scrollbar-thumb:active {
      -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
      background-color: rgba(0, 0, 0, 0.3); }
    .commentForm .comment textarea::-webkit-scrollbar-thumb:vertical, .commentForm .comment textarea ::-webkit-scrollbar-thumb:horizontal {
      border-width: 0;
      border-left-width: 0;
      border-right-width: 0; }
.commentForm .submit {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  text-align: right; }

.comments h2 {
  margin: 5.4rem 0;
  text-align: center; }
.comments .list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 9rem;
  padding-bottom: 3rem; }
  .comments .list .comment {
    flex-basis: calc(100% - 2.8rem);
    margin: 0 1.4rem 2.75rem 1.4rem;
    padding-bottom: 3rem;
    text-align: center;
    color: #768275;
    background-color: #DEEBDE;
    font-size: 1.6rem;
    font-weight: 500;
    overflow: hidden; }
    @media (min-width: 768px) {
      .comments .list .comment {
        flex-basis: calc(50% - 2.8rem);
        min-height: 15.5rem;
        padding-bottom: 0; } }
    @media (min-width: 992px) {
      .comments .list .comment {
        flex-basis: calc(33% - 2.8rem); } }
    .comments .list .comment .title {
      padding: 0.55rem 0 0.7rem 0;
      color: #FFFFFF;
      background-color: #58AD52; }
    .comments .list .comment .email {
      padding: 1.3rem 0; }
      .comments .list .comment .email a {
        color: #768275;
        text-decoration: none; }
    .comments .list .comment .body {
      font-size: 1.4rem;
      font-weight: 400;
      padding: 0 1rem 1rem 1rem; }
    .comments .list .comment:nth-child(odd) {
      color: #767582;
      background-color: #E9EEF3; }
      .comments .list .comment:nth-child(odd) .title {
        color: #FFFFFF;
        background-color: #4B596C; }
      .comments .list .comment:nth-child(odd) .email a {
        color: #6D737B; }
  .comments .list .circonf {
    position: absolute;
    left: 50%;
    top: 1rem;
    margin-left: -24px;
    margin-top: -24px; }
    .comments .list .circonf.micro {
      margin-left: -12px;
      margin-top: -12px; }
    .comments .list .circonf.small {
      margin-left: -16px;
      margin-top: -16px; }
    .comments .list .circonf.large {
      margin-left: -32px;
      margin-top: -32px; }
  .comments .list.wait .comment {
    opacity: 0.2; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 2.2em; }
  .footer .right a {
    margin-right: 2rem; }
    .footer .right a:last-child {
      margin-right: 0; }

/*# sourceMappingURL=styles.css.map */
