.comments {
	h2 {
		margin: 5.4rem 0;
		text-align: center;
	}

	.list {
		position: relative; display: flex; flex-wrap: wrap; align-items: stretch;
		min-height: 9rem; padding-bottom: 3rem;

		.comment {
			flex-basis: calc(100% - 2.8rem);
			margin: 0 1.4rem 2.75rem 1.4rem;
			padding-bottom: 3rem;
			text-align: center;
			color: $darkGreen;
			background-color: $lightGreen;
			font-size: 1.6rem;
			font-weight: 500;
			overflow: hidden;

			@media (min-width: 768px) {
				flex-basis: calc(50% - 2.8rem);
				min-height: 15.5rem;
				padding-bottom: 0;
			}

			@media (min-width: 992px) {
				flex-basis: calc(33% - 2.8rem);
			}

			.title {
				padding: 0.55rem 0 0.7rem 0;
				color: $white;
				background-color: $green;
			}

			.email {
				padding: 1.3rem 0;

				a {
					color: $darkGreen;
					text-decoration: none;
				}
			}

			.body {
				font-size: 1.4rem;
				font-weight: 400;
				padding: 0 1rem 1rem 1rem;
			}

			&:nth-child(odd) {
				color: $commentBody;
				background-color: $aqua;

				.title {
					color: $white;
					background-color: $commentTitle;
				}

				.email a {color: $commentEmail;}
			}
		}

		.circonf {
			position: absolute;
			left: 50%;
			top: 1rem;
			margin-left: -24px;
			margin-top: -24px;

			&.micro {
				margin-left: -12px;
				margin-top: -12px;
			}
			&.small {
				margin-left: -16px;
				margin-top: -16px;
			}
			&.large {
				margin-left: -32px;
				margin-top: -32px;
			}
		}

		&.wait .comment {opacity: 0.2;}
	}
}