.envelope {
	padding: 40px 0; text-align: center;
}

.commentForm {
	input, textarea {
		width: 100%;
	}

	.reqs input {
		margin-bottom: 45px;
		&:last-child {
			@media (min-width: 768px) {
				margin-bottom: 0;
			}
		}
	}

	.comment {
		display: flex;
		flex-direction: column;

		label {flex-grow: 0;}
		textarea {
			flex-grow: 4;
			min-height: 10rem;
			@include scrollBars();
		}
	}

	.submit {
		margin-top: 4.5rem; margin-bottom: 4.5rem; text-align: right;
	}
}