.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1.5rem;
	padding-bottom: 2.2em;

	.right a {
		margin-right: 2rem;
		&:last-child {margin-right: 0;}
	}
}